@charset 'UTF-8';

// ----------------------------------------------------------------------------
// Variablen für Schriftarten und -größen
//
// ----------------------------------------------------------------------------

$font--global: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font--mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font--serif: 'Times New Roman', Times, serif;

// Die REM-Werte orientieren sich an der Größe 16px (1em), welche im HTML-Tag
// festgelegt wird. 1.125rem sind dementsprechend 18px (16 * 1,125).

$font-size--normal: 1rem;

// H1 - H6
// Überschriften

$font-size--h-xxl: 2.2rem;
$font-size--h-xl: 1.7rem;
$font-size--h-large: 1.2rem;
$font-size--h-small: 1.15rem;
$font-size--h-xsmall: 1.1rem;
$font-size--h-xxsmall: 1rem;

// ----------------------------------------------------------------------------
// Farben
//
// ----------------------------------------------------------------------------

// Es sollte immer auf die Barrierefreiheit geachtet werden. Vor allem die
// Kontraste können die Lesbarkeit einer Webseite stark verschlechtern.
// Deswegen haben alle Standardfarben mindestens einen Wert von AA 
// (WCAG 2.0 criterion 1.4.3)

$colors: (
black: #101010,
white: #fafafa,
danger: #eb3b5a,
info: #2d98da,
primary: #3867d6,
warning: #fa8231,
yellow: #f7b731,
purple: #8854d0,
success: #20bf6b,
grey: #a5b1c2,
mineral: #0fb9b1,
sky: #4b6584
);

$light-colors: (
light-danger: #fc5c65,
light-info: #45aaf2,
light-primary: #4b7bec,
light-warning: #fd9644,
light-yellow: #fed330,
light-purple: #a55eea, 
light-success: #26de81,
light-grey: #d1d8e0,
light-mineral: #2bcbba,
light-sky: #778ca3
);

// ----------------------------------------------------------------------------
// Breakpoints
//
// ----------------------------------------------------------------------------

$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large: 1200px;

// ----------------------------------------------------------------------------
// Padding & Margin
//
// ----------------------------------------------------------------------------

// Legt fest, welche Padding- und Margin-Klassen erstellt werden. 0,1,2,3,4,5
// entspricht z.B. p-0 bis p-5

$margin-amount: (0,1,2,3,4,5);
$padding-amount: (0,1,2,3,4,5);

// ----------------------------------------------------------------------------
// Flex Grid
//
// ----------------------------------------------------------------------------

// Legt fest, aus wie vielen Spalten das Grid besteht.

$cols: 12;