@charset 'UTF-8';
@import '../_var.scss';

// ----------------------------------------------------------------------------
// Code
//
// ----------------------------------------------------------------------------

// Dieses Modul enthält Styles und Funktionen um Quellcode besser darstellen zu
// können. ACHTUNG: Dieses Modul aktuell noch nicht fertig und wird
// wahrscheinlich in den nächsten Versionen überarbeitet.

code,
samp,
kbd {
    font-family: $font--mono;
}

code {
    background-color: map-get($light-colors, 'light-grey');
    padding: 0.2rem;
    border-radius: 5px;
}

.code-block {
    background-color: map-get($light-colors, 'light-grey');
    padding: 0.2rem;
    border-radius: 5px;
    width: 100%;
    display: block;
    white-space: pre;
    hyphens: none;
}

.code-block>[data-type="variable"] {
    font-weight: bolder;
}

kbd {
    background-color: map-get($colors, 'black');
    padding: 0.2rem;
    color: map-get($colors, 'white');
    border-radius: 5px;
}

samp {
    display: block;
    margin-bottom: 0.1rem;
}

samp.console::before {
    content: '> ';
}