@charset 'UTF-8';
@import '../_var.scss';

// ----------------------------------------------------------------------------
// Rahmen
//
// ----------------------------------------------------------------------------

// Dieses Modul enthält die Rahmen-Klassen.

.border- {
    @each $name,
    $color in $colors {
        &#{$name} {
            border: 1px solid $color !important;
        }
    }   
}

.border- {
    &left- {
        @each $name,
        $color in $colors {
            &#{$name} {
                border-left: 1px solid $color !important;
            }
        }
    }

    &right- {
        @each $name,
        $color in $colors {
            &#{$name} {
                border-right: 1px solid $color !important;
            }
        }
    }

    &top- {
        @each $name,
        $color in $colors {
            &#{$name} {
                border-top: 1px solid $color !important;
            }
        }
    }

    &bottom- {
        @each $name,
        $color in $colors {
            &#{$name} {
                border-bottom: 1px solid $color !important;
            }
        }
    }
}

.rounded {
    border-radius: .2rem !important;
}