@charset 'UTF-8';
@import '../_var.scss';

// ----------------------------------------------------------------------------
// Text
//
// ----------------------------------------------------------------------------

// !important um andere Styles zu überschreiben.

.text- {

    &left {
        text-align: left !important;
    }

    &center {
        text-align: center !important;
    }

    &right {
        text-align: right !important;
    }

    &justify {
        text-align: justify !important;
    }

    &lowercase {
        text-transform: lowercase !important;
    }

    &uppercase {
        text-transform: uppercase !important;
    }

    &capitalize {
        text-transform: capitalize !important;
    }

    &underline,
    &u {
        text-decoration: underline !important;
    }

    &italic,
    &i {
        font-style: italic !important;
    }

    &bold,
    &b {
        font-weight: bold !important;
    }

    &serif {
        font-family: $font--serif !important;
    }

    &monospace,
    &mono {
        font-family: $font--mono !important;
    }

    // Farben

    @each $name,
    $color in $colors {
        &#{$name} {
            color: $color !important;
        }
    }

}