@charset 'UTF-8';

@use "variables" as var;

*::before,
*::after,
* {
  box-sizing: border-box;
}

html {
  font-size: var.$font-size-default;
}

body {
  font-family: var.$font-sans;
  font-size: 1.6rem;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

// Remove `margin-top` from all headings and paragraphs for easier spacing
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
